.cache
node_modules
.idea
.vscode
dist
local.log
release
.baseline
coverage
*.tgz
.vitest-attachments
**/__screenshots__
tests/e2e/app/bundle.js
tests/e2e/app/node_modules
tests/e2e/app/package-lock.json
